@{
    ViewBag.Title = "Startpagina";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                
            </hgroup>
            <p>
                Afhankelijk van de ingelogde gebruiker kan je alle herstellingen zien (als technicus) of enkel je eigen herstellingen (als klant)<br/>
                - Lieven Vanhercke
            </p>
        </div>
    </section>
}
<h3>Uw random tekst of sponsors hier:</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue augue, venenatis aliquam erat a, faucibus pulvinar risus. Maecenas id dapibus justo. Sed id elit nec quam efficitur cursus. In eget mattis urna. Ut felis mi, scelerisque eu ornare non, placerat sed dui. Mauris vel urna et ipsum aliquet dignissim. Duis nec odio nec risus sagittis fermentum. Nam neque diam, tincidunt in neque sit amet, blandit egestas risus. Phasellus ut dolor accumsan nisl accumsan convallis. Nullam dignissim fermentum accumsan. Mauris laoreet placerat dui, nec sollicitudin erat condimentum sed. Nulla suscipit massa sit amet justo eleifend ullamcorper eu ac nisl.</p>
